server:
  port: 8082

spring:
  application:
    name: aneti-service-profilage
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/aneti_profilage
    username: ${DB_USERNAME:aneti}
    password: ${DB_PASSWORD:aneti_secret}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/aneti}

eureka:
  client:
    service-url:
      defaultZone: http://eureka:${EUREKA_PASSWORD:eureka_secret}@localhost:8761/eureka/
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
