server:
  port: 8081

spring:
  application:
    name: aneti-service-inscription
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/aneti_inscription
    username: ${DB_USERNAME:aneti}
    password: ${DB_PASSWORD:aneti_secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/aneti}

eureka:
  client:
    service-url:
      defaultZone: http://eureka:${EUREKA_PASSWORD:eureka_secret}@localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    tn.aneti: DEBUG
    org.springframework.security: INFO
