server:
  port: 8888

spring:
  application:
    name: aneti-config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
  profiles:
    active: native
  security:
    user:
      name: config
      password: ${CONFIG_PASSWORD:config_secret}

eureka:
  client:
    service-url:
      defaultZone: http://eureka:${EUREKA_PASSWORD:eureka_secret}@localhost:8761/eureka/
